body {
    background-color: black;
}
.projects .content {
    margin-top: 30px;
}
.project-card {
    background-color: white;
    border: 1px solid white;
    min-height: 14em;
    width: 23em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.7s ease;
}
.project-card:hover {
    transform: scale(1.1);
}
.project-card:hover .project-image {
    opacity: 0.9;
}
.project-image img {
    width: 100%;
}
.project-info {
    padding: 16px;
}
.project-category {
    font-size: 0.8em;
    color: black;
}
.project-title {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px;
}
.cards.contact {
    color: white;
}
.contact .icon {
    font-size: 4.5em;
}
.contact h3 {
    color: white;
}
.contact p {
    font-size: 1.5em;
}
footer {
    color: white;
}
.footer-title {
    font-size: 1.3em;
    font-weight: 600;
}
.footer-title span {
    color: #3a6cf4;
}
